appdirs==1.4.3
Babel==2.9.0
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
cldfbench==1.12.0
cldfcatalog==1.5.1
cldfzenodo==0.2.0
clldutils==3.12.0
colorama==0.4.3
colorlog==4.7.2
csvw==3.1.1
gitdb==4.0.9
greenlet==1.1.2
html5lib==1.0.1
idna==2.8
iniconfig==1.1.1
isodate==0.6.0
jsonschema==4.16.0
lingpy==2.6.9
lxml==4.9.1
Markdown==3.4.1
nameparser==1.0.6
networkx==2.8.6
newick==1.3.0
numpy==1.23.3
openpyxl==3.0.9
packaging==20.3
pkg_resources==0.0.0
pluggy==0.13.1
purl==1.5
py==1.10.0
-e git+https://github.com/dlce-eva/pyasjp@d16d658c88443ab9aadab0213c5c0c951a42aca3#egg=pyasjp
pybtex==0.24.0
pycldf==1.27.0
pyclts==3.1.1
pyconcepticon==2.8.0
pycountry==22.3.5
pyglottolog==3.9.0
pylexibank==3.4.0
pyrsistent==0.18.1
pytest==6.2.2
python-dateutil==2.8.1
pytz==2021.1
rdflib==5.0.0
regex==2022.9.13
requests==2.22.0
rfc3986==1.4.0
segments==2.2.1
six==1.14.0
smmap==5.0.0
soupsieve==2.2
SQLAlchemy==1.4.27
tabulate==0.8.9
termcolor==2.0.1
tqdm==4.58.0
uritemplate==3.0.1
urllib3==1.25.8
webencodings==0.5.1
xlrd==2.0.1
zenodoclient==0.4.1
zipp==3.8.1